@using FinalProject_SapirTeper_OfirEinhoren.Shared.Entities
@using FinalProject_SapirTeper_OfirEinhoren.Shared.BlocksClass
@inject HttpClient Http
@using System.Text.Json

<section>
    <EditForm Model="OneBlock">
        <div class="BigBigDivComp">
            <div class="DivNumberCompNone"></div>
            <div class="ComponentDivClass">
                <div class="ComponentDivLineStyle">
                    <div Style="float: left;">
                        <MudTooltip Duration="1000" Text="מחיקת רכיב" Placement="Placement.Top">
                            <MudIconButton Icon="@Icons.Rounded.Close" Color="Color.Primary" Size="Size.Medium" @onclick="DeleteBlock" aria-label="delete"></MudIconButton>
                        </MudTooltip>
                    </div>
                    @{CountPossibleAns();}
                    <div Style="float: left;">
                        @if (F != 0 || B.ManyChoices_TrueAnsBool.Length != CheckBoxList.Count || M != 0 || B.ManyChoices_AnsArray.Length != possibleAnswers.Count || TxtString[0] != B.ManyChoices_Ques || TxtString[1] != B.ManyChoices_FeedbackTrue || TxtString[2] != B.ManyChoices_FeedbackFalse)
                        {
                            if (Filled == 1)
                            {
                                ChangeToZero();
                            }
                            <MudTooltip Duration="1000" Text="שמירת רכיב" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Rounded.Save" Color="Color.Error" @onclick="SaveFunc" aria-label="save"></MudIconButton>
                            </MudTooltip>
                            <span class="SaveSpanTxt">לחצו לשמירה</span>
                        }
                        else
                        {
                            <MudTooltip Duration="1000" Text="שמירת רכיב" Placement="Placement.Top">
                                <MudIconButton Icon="@Icons.Rounded.CheckCircleOutline" Color="Color.Success" @onclick="SaveFunc" aria-label="save"></MudIconButton>
                            </MudTooltip>
                            <span class="SaveSpanTxt">נשמר</span>
                        }
                    </div>
                    <div class="CompDivTitle" style="width:90%">
                        <span class="CompTitle">שאלת רב ברירה</span>
                        <span class="QCompSubTitle">תוכן השאלה</span>
                        <MudTextField id="txtQuesManyChoices" @bind-Value="B.ManyChoices_Ques" Margin="Margin.Dense" style="width: 100%; font: normal 12px/22px Segoe UI; height: 37px; margin-bottom: 2%;" Label="הטקסט הרצוי לתוכן השאלה" Variant="Variant.Outlined" />
                    </div>
                    <div class="CompDivTitle">
                        <span class="QCompSubTitle" style="margin-bottom: 0%;">אפשרויות מענה</span>
                        <span class="QCompDescription">הזינו את תוכן התשובות ובחרו את התשובות הנכונות</span>

                        @foreach (string A in AList)
                        {
                            int i = AList.IndexOf(A);
                            <div style="display: inline-flex; width: 65%; margin: 0.6% 0%; ">
                                <MudCheckBox @bind-Checked="@CheckBoxList[i]" Color="Color.Secondary" Dense="true" Size="Size.Medium" Style="margin-right: 3%; margin-left: 15px;"></MudCheckBox>
                                <MudTextField id="@i.ToString()" @bind-Value="@possibleAnswers[i]" Margin="Margin.Dense" style="width: 100%; font: normal 12px/22px Segoe UI; height: 33px; padding: 6.5px 10px; " Label="@ListplaceHolder[i]" Variant="Variant.Outlined" />

                                @if (possibleAnswers.Count > 2)
                                {
                                    <MudIconButton Icon="@Icons.Rounded.Close" Color="Color.Primary" Size="Size.Medium" @onclick="()=> DeleteAnswerFunc(i)" aria-label="delete" Style=" margin-right: 7px;"></MudIconButton>
                                }
                                else
                                {
                                    <MudIconButton Icon="@Icons.Rounded.Close" Disabled="true" Size="Size.Medium" Style="padding-top: 1%; padding-right: 2%; padding-left: 1%;"></MudIconButton>
                                }
                            </div>
                        }
                        <br />
                        @if (possibleAnswers.Count < 5)
                        {
                            <MudButton StartIcon="@Icons.Outlined.Add" Color="Color.Secondary" OnClick="AddAnswerFunc" Style="font: normal normal 600 13px/10px Segoe UI; margin: 5px 10px; margin-right: 2%;">לחצו להוספת תשובה</MudButton>
                        }
                        else
                        {
                            <MudButton Variant="Variant.Filled" Disabled="true" StartIcon="@Icons.Outlined.Add" Style="font: normal normal 600 13px/10px Segoe UI; margin: 5px 10px; margin-right: 2%;">לחצו להוספת תשובה</MudButton>
                        }

                    </div>
                    <div class="GreenDiv">
                        <span class="QCompFeedbackSubTitle">משוב</span>
                        <span class="QCompFeedbackDescription">ניתן לשנות את תוכן המשוב</span><br />
                        <div style="width: 90%; margin: 0 auto;">
                            <div class="TrueDivFeedback">
                                <div>
                                    <MudIcon Icon="@Icons.Outlined.Check" Style="display: block; margin: 0 auto; padding-bottom: 0px; padding-top: 0px;"></MudIcon>
                                    <span class="FeedbackTitle">תשובה נכונה</span>
                                </div>
                                <MudTextField id="trueFeedback" @bind-Value="B.ManyChoices_FeedbackTrue" Margin="Margin.Dense" style="width: 100%; font: normal 12px/22px Segoe UI; height: 35px;" Variant="Variant.Outlined" />
                            </div>
                            <div class="QCompFeedbackLine"></div>
                            <div class="FalseDivFeedback">
                                <div>
                                    <MudIcon Icon="@Icons.Outlined.Close" Style="display: block; margin: 0 auto; padding-bottom: 0px; padding-top: 0px;"></MudIcon>
                                    <span class="FeedbackTitle">תשובה לא נכונה</span>
                                </div>
                                <MudTextField id="FalseFeedback" @bind-Value="B.ManyChoices_FeedbackFalse" Margin="Margin.Dense" style="width: 100%; font: normal 12px/22px Segoe UI; height: 35px;" Variant="Variant.Outlined" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</section>


@code{

    QManyChoicesBlock B = new QManyChoicesBlock();

    //פרמטר של רשומה שלמה מתוך עמוד עריכה
    [Parameter]
    public Block OneBlock { get; set; }

    //רשימה לתשובות האפשרויות
    List<string> possibleAnswers = new List<string>();

    //רשימה לערכים של הצקבוקס
    List<bool> CheckBoxList = new List<bool>() { false, false };

    //רשימה לפלייסהולדר
    List<string> ListplaceHolder = new List<string>() { "תשובה ראשונה", "תשובה שניה", "תשובה שלישית", "תשובה רביעית", "תשובה חמישית" };

    //רשימה שהפוראיצ ירוץ עליה ותהיה באורך רשימת התשובות
    List<string> AList = new List<string>();

    //מערך שמכיל את התשובות עד שיומר לרשימה
    string[] AnsArray = { string.Empty, string.Empty };

    string[] TxtString = new string[3];
    int M;

    //פרמטרים למחיקת רכיב
    [Parameter]
    public int IDNum { get; set; }

    [Parameter]
    public EventCallback<int> NumberParamChanged { get; set; }


    //פרמטרים לכפתור שמירה
    [Parameter]
    public int Filled { get; set; }

    [Parameter]
    public EventCallback<int> UpdateFilledPlus { get; set; }

    [Parameter]
    public EventCallback<int> UpdateFilledMinus { get; set; }



    protected override async Task OnInitializedAsync()
    {
        //אם יש תוכן
        if (OneBlock.BlockContent != "")
        {
            B = JsonSerializer.Deserialize<QManyChoicesBlock>(OneBlock.BlockContent);
            AnsArray = B.ManyChoices_AnsArray;
            CheckBoxList = B.ManyChoices_TrueAnsBool.ToList();

            TxtString[0] = B.ManyChoices_Ques;
            TxtString[1] = B.ManyChoices_FeedbackTrue;
            TxtString[2] = B.ManyChoices_FeedbackFalse;
        }
        else
        {
            //הזנת ערך דיפולט לתיבות טקסט של פידבק
            if (B.ManyChoices_FeedbackTrue == "" || B.ManyChoices_FeedbackTrue == null)
            {
                B.ManyChoices_FeedbackTrue = "כל הכבוד, תשובה נכונה";
            }
            if (B.ManyChoices_FeedbackFalse == "" || B.ManyChoices_FeedbackFalse == null)
            {
                B.ManyChoices_FeedbackFalse = "תשובה לא נכונה, נסה שנית";
            }
            B.ManyChoices_AnsArray = AnsArray;
            B.ManyChoices_TrueAnsBool = CheckBoxList.ToArray();

            TxtString[0] = "";
            TxtString[1] = B.ManyChoices_FeedbackTrue;
            TxtString[2] = B.ManyChoices_FeedbackFalse;
        }

        possibleAnswers = AnsArray.ToList();

        ////רשימה עם תוכן באורך של רשימ תכמות התשובות
        ////נועדה בשביל לרוץ עליה בפוראיצ ולמצוא את הפוראיצ
        for (int Y = 0; Y < possibleAnswers.Count; Y++)
        {
            AList.Add(Y.ToString());
        }
    }


    //מחיקת רכיב
    private async Task DeleteBlock()
    {
        var deleteResponse = await Http.DeleteAsync("api/Blocks/" + OneBlock.ID);
        bool isDeleted = deleteResponse.Content.ReadFromJsonAsync<bool>().Result;

        if (isDeleted == true && deleteResponse.IsSuccessStatusCode == true)
        {
            sendIDToDelete();
        }


        //איפוס
        //אם יש תוכן
        if (OneBlock.BlockContent != "")
        {
            B = JsonSerializer.Deserialize<QManyChoicesBlock>(OneBlock.BlockContent);
            AnsArray = B.ManyChoices_AnsArray;
            CheckBoxList = B.ManyChoices_TrueAnsBool.ToList();

            TxtString[0] = B.ManyChoices_Ques;
            TxtString[1] = B.ManyChoices_FeedbackTrue;
            TxtString[2] = B.ManyChoices_FeedbackFalse;
        }
        else
        {
            //הזנת ערך דיפולט לתיבות טקסט של פידבק
            if (B.ManyChoices_FeedbackTrue == "" || B.ManyChoices_FeedbackTrue == null)
            {
                B.ManyChoices_FeedbackTrue = "כל הכבוד, תשובה נכונה";
            }
            if (B.ManyChoices_FeedbackFalse == "" || B.ManyChoices_FeedbackFalse == null)
            {
                B.ManyChoices_FeedbackFalse = "תשובה לא נכונה, נסה שנית";
            }
            B.ManyChoices_AnsArray = AnsArray;
            B.ManyChoices_TrueAnsBool = CheckBoxList.ToArray();

            TxtString[0] = "";
            TxtString[1] = B.ManyChoices_FeedbackTrue;
            TxtString[2] = B.ManyChoices_FeedbackFalse;
        }

        possibleAnswers = AnsArray.ToList();

    }

    private void sendIDToDelete()
    {
        IDNum = OneBlock.ID;
        NumberParamChanged.InvokeAsync(IDNum);
    }


    //שמירת הנתונים
    private async Task SaveFunc()
    {
        await Task.Yield();
        B.ManyChoices_TrueAnsBool = CheckBoxList.ToArray();
        B.ManyChoices_AnsArray = possibleAnswers.ToArray();

        TxtString[0] = B.ManyChoices_Ques;
        TxtString[1] = B.ManyChoices_FeedbackTrue;
        TxtString[2] = B.ManyChoices_FeedbackFalse;

        OneBlock.BlockContent = JsonSerializer.Serialize(B);

        //בדיקה שרשימת התשובות לא ריקה
        int C = 0;
        foreach (string p in possibleAnswers)
        {
            if (string.IsNullOrEmpty(p) == true)
            {
                C++;
            }
        }
        //בדיקה שרשימת הצקבוקס לא ריקה
        int V = 0;
        foreach (bool x in CheckBoxList)
        {
            if (x == true)
            {
                V++;
            }
        }

        //בדיקה אם רשימת התשובות זהה לרשימה השמורה
        int Z = 0;
        for (int i = 0; i < possibleAnswers.Count; i++)
        {
            if (possibleAnswers[i] != B.ManyChoices_AnsArray[i])
            {
                Z++;
            }
        }

        //בדיקה שהרשימת הצקבוקס זהה לרשימה השמורה
        int T = 0;
        for (int a = 0; a < CheckBoxList.Count; a++)
        {
            if (CheckBoxList[a] != B.ManyChoices_TrueAnsBool[a])
            {
                T++;
            }
        }

        //בדיקה אם נבחרה תשובה בצקבוקס
        int K = 0;
        foreach (bool x in CheckBoxList)
        {
            if (x == true)
            {
                K++;
            }
        }

        if (K > 0 && T == 0 && Z == 0 && B.ManyChoices_AnsArray.Length == possibleAnswers.Count && string.IsNullOrEmpty(B.ManyChoices_Ques) == false && string.IsNullOrEmpty(B.ManyChoices_FeedbackTrue) == false && string.IsNullOrEmpty(B.ManyChoices_FeedbackFalse) == false && C == 0 && V != 0)
        {
            OneBlock.ToContinue = 1;
        }

        var updateResponse = await Http.PostAsJsonAsync("api/Blocks/Update", OneBlock);
        if (updateResponse.IsSuccessStatusCode == true)
        {
            if (K > 0 && T == 0 && Z == 0 && B.ManyChoices_AnsArray.Length == possibleAnswers.Count && string.IsNullOrEmpty(B.ManyChoices_Ques) == false && string.IsNullOrEmpty(B.ManyChoices_FeedbackTrue) == false && string.IsNullOrEmpty(B.ManyChoices_FeedbackFalse) == false && C == 0 && V != 0)
            {
                Filled = 1;
                UpdateFilledPlus.InvokeAsync(Filled);
            }
        }
    }

    //שינוי הערך בכפתור המשך לאפס
    private async Task ChangeToZero()
    {
        OneBlock.ToContinue = 0;

        var updateResponse = await Http.PostAsJsonAsync("api/Blocks/Update", OneBlock);
        if (updateResponse.IsSuccessStatusCode == true)
        {
            Filled = 0;
            UpdateFilledMinus.InvokeAsync(Filled);
        }
    }


    //הוספת תשובה
    private void AddAnswerFunc()
    {
        possibleAnswers.Add(string.Empty);
        AList.Add(AList.Count.ToString());
        CheckBoxList.Add(false);
    }


    //מחיקת תשובה
    private void DeleteAnswerFunc(int i)
    {
        possibleAnswers.RemoveAt(i);
        CheckBoxList.RemoveAt(i);
        AList.Clear();

        //רשימה עם תוכן באורך של רשימת כמות התשובות
        //נועדה בשביל לרוץ עליה בפוראיצ ולמצוא את הפוראיצ
        for (int Y = 0; Y < possibleAnswers.Count; Y++)
        {
            AList.Add(Y.ToString());
        }

    }


    int F;
    int E;
    private async Task CountPossibleAns()
    {
        M = 0;
        F = 0;
        E = 0;

        //בדיקה אם רשימת התשובות זהה לרשימה השמורה
        for (int i = 0; i < possibleAnswers.Count; i++)
        {
            if (possibleAnswers[i] != B.ManyChoices_AnsArray[i])
            {
                M++;
            }
        }

        //בדיקה שהרשימת הצקבוקס זהה לרשימה השמורה
        for (int a = 0; a < CheckBoxList.Count; a++)
        {
            if (CheckBoxList[a] != B.ManyChoices_TrueAnsBool[a])
            {
                F++;
            }
        }

        //בדיקה אם נבחרה תשובה בצקבוקס
        foreach (bool x in CheckBoxList)
        {
            if (x == true)
            {
                E++;
            }
        }
    }

}


